
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  width: 100vw;
  height: 50vh;
  display: flex;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.menu {
  width: 200px;
  background-color: slateblue;
}

.menu .title {
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #eee;
  color: yellowgreen;
}

.menu li {
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.menu li a {
  color: aliceblue;
  cursor: pointer;
}

.menu li a:hover {
  color: #888;
}

.content {
  flex-grow: 1;
}

.content > div {
  height: 100%;
}

.aaaa {
  background-color: antiquewhite;
}

.bbbb {
  background-color: aquamarine;
}

.cccc {
  background-color: sandybrown;
}

.dddd {
  background-color: rosybrown;
}
